
body,td,a,p {font-family:arial,sans-serif}
blockquote {background-color: #f0f0f0; padding: 10px; border:1px solid lightgray;}
h2 {margin-top: 2em;color: SaddleBrown; background-color: #dedede; padding-left: 12px;}
h3 {margin-top: 2em; color: DimGray;}
tt {font-size: 1.3em; color: Navy;}
